// Override hsl() and hsla().
// Sass sometimes converts the units in colours in a way that's incompatible with GTK's CSS parser. These overrides
// always preserve the original units.
@function hsl($h, $s, $l) {
  @return unquote("hsl(#{$h}, #{$s}, #{$l})");
}
@function hsla($h, $s, $l, $a) {
  @return unquote("hsla(#{$h}, #{$s}, #{$l}, #{$a})");
}

.media-tile {
  $media-tile-br: 10px;

  overlay {
    border-radius: $media-tile-br;
  }

  .hover-overlay {
    border-radius: $media-tile-br;
    background: rgba(black, 33%);

    // Only shows on hover
    opacity: 0;
    transition: all 150ms;

    image {
      background: "--gtk-alpha(@dark_4, 0.8)";
      border-radius: 100px;
      $padding: 6px;
      padding: $padding;
      // TODO: There's a bit of empty space on the right for some reason
      padding-left: $padding + 1px;
    }
  }

  picture {
    border-radius: $media-tile-br;
    box-shadow: none;
    transition: all 300ms;
  }

  progressbar {
    * {
      border-radius: 0;
    }

    border-bottom-left-radius: $media-tile-br;
    border-bottom-right-radius: $media-tile-br;

    trough {
      background: transparent;
    }
  }

  label {
    line-height: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  &.hover {
    picture {
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 33%);
    }

    .hover-overlay {
      opacity: 1;
    }
  }
}

// There's an issue with the light theme where toe video player header bar's
// background turns white when the window isn't focused, making the text
// unreadable. As a workaround, we manually set the background to always use
// the .osd background colour. This should match this variable:
// https://gitlab.gnome.org/GNOME/libadwaita/-/blob/c174e07254aa423c704c3cdb62516249f8df5559/src/stylesheet/_colors.scss#L98
// TODO: maybe file a bug report?
.video-player-page headerbar {
  background: rgba(0, 0, 0, 0.7);
}

.video-player {
  .video-player-controls {
    .scrubber-position-label {
      // Match duration label padding (which is a button)
      padding: 5px 17px;
    }

    .scrubber-duration-label {
      font-weight: normal;
    }

    .scrubber-popover-thumbnail {
      border-radius: 4px;
    }
  }

  .next-up {
    padding: 12px;
    border-radius: 12px;

    .next-up__thumbnail {
      border-radius: 6px;
    }
  }
}

.media-details {
  .media-details-header {
    .media-details-header-overlay {
      padding: 0 32px;

      background: linear-gradient(
        to top,
        hsl(0, 0%, 98%) 0%,
        hsla(0, 0%, 98%, 0.987) 12.1%,
        hsla(0, 0%, 98%, 0.951) 23%,
        hsla(0, 0%, 98%, 0.896) 33.1%,
        hsla(0, 0%, 98%, 0.825) 42.1%,
        hsla(0, 0%, 98%, 0.741) 50.4%,
        hsla(0, 0%, 98%, 0.648) 57.8%,
        hsla(0, 0%, 98%, 0.55) 64.5%,
        hsla(0, 0%, 98%, 0.45) 70.6%,
        hsla(0, 0%, 98%, 0.352) 76%,
        hsla(0, 0%, 98%, 0.259) 81%,
        hsla(0, 0%, 98%, 0.175) 85.4%,
        hsla(0, 0%, 98%, 0.104) 89.5%,
        hsla(0, 0%, 98%, 0.049) 93.2%,
        hsla(0, 0%, 98%, 0.013) 96.7%,
        hsla(0, 0%, 98%, 0) 100%
      );
      @at-root .dark & {
        // Non-linear gradient generated with https://non-boring-gradients.netlify.app/
        background: linear-gradient(
          0deg,
          rgb(36, 36, 36) 0%,
          rgba(36, 36, 36, 0.9903926402) 6.25%,
          rgba(35, 35, 35, 0.9619397663) 12.5%,
          rgba(33, 33, 33, 0.9157348062) 18.75%,
          rgba(31, 31, 31, 0.8535533906) 25%,
          rgba(28, 28, 28, 0.7777851165) 31.25%,
          rgba(25, 25, 25, 0.6913417162) 37.5%,
          rgba(22, 22, 22, 0.597545161) 43.75%,
          rgba(18, 18, 18, 0.5) 50%,
          rgba(14, 14, 14, 0.402454839) 56.25%,
          rgba(11, 11, 11, 0.3086582838) 62.5%,
          rgba(8, 8, 8, 0.2222148835) 68.75%,
          rgba(5, 5, 5, 0.1464466094) 75%,
          rgba(3, 3, 3, 0.0842651938) 81.25%,
          rgba(1, 1, 1, 0.0380602337) 87.5%,
          rgba(0, 0, 0, 0.0096073598) 93.75%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }

    .media-details-backdrop-overlay-left {
      background: linear-gradient(0.75turn, #ffffff00, "@window_bg_color");
    }
    .media-details-backdrop-overlay-right {
      background: linear-gradient(0.25turn, #ffffff00, "@window_bg_color");
    }
    @at-root .dark & {
      .media-details-backdrop-overlay-left {
        background: linear-gradient(0.75turn, transparent, "@window_bg_color");
      }
      .media-details-backdrop-overlay-right {
        background: linear-gradient(0.25turn, transparent, "@window_bg_color");
      }
    }

    .media-details-backdrop-blur {
      filter: blur(100px);
    }

    .media-details-header-title {
      font-size: 24px;
      padding: 32px 0;
    }
  }

  .official-rating {
    padding: 0 4px;
    border: solid 1px white;
    border-radius: 4px;
  }

  .seasons-box {
    background: "@headerbar_bg_color";
    padding: 2px;
    border-radius: 8px;

    .season-unplayed-indicator {
      background: "@accent_bg_color";
      border-radius: 100%;
    }
  }

  .episode-thumbnail {
    border-radius: 6px;
  }

  .episode-unplayed-indicator {
    background: "@accent_bg_color";
    border-radius: 100%;
    box-shadow: 2px 2px 5px 0px #00000032;

    // Position indicator a bit outside .episode-thumbnail
    $outer-margin: 6px;
    margin-left: $outer-margin;
    margin-right: -$outer-margin;
    margin-top: -$outer-margin;
    margin-bottom: $outer-margin;
  }
}
