.media-tile {
  padding: 8px;
  padding-bottom: 12px;
  padding-top: 0;

  &.hover {
    background-color: rgba(white, 0.1);
    border-radius: 8px;
  }
}

.video-player {
  .video-player-controls {
    border-radius: 0;

    .scrubber-position-label {
      // Match duration label padding (which is a button)
      padding: 5px 17px;
    }

    .scrubber-duration-label {
      font-weight: normal;
    }
  }
}

